version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - osrm
    environment:
      - OSRM_HOST=http://osrm:5000

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app           # 1. 把本地 frontend 文件夹映射到容器的 /app
      - /app/node_modules         # 2. 保护容器内的 node_modules 不被本地覆盖(匿名卷)

  osrm:
    image: osrm/osrm-backend
    command: "osrm-routed --algorithm mld /data/us-northeast.osrm"
    ports:
      - "5001:5000"
    volumes:
      - ./osrm-data:/data